In [1]:
import pandas as pd
from dammit.fileio.gff3 import GFF3Parser

In [43]:
gff_file = "pc_euk_seqs.fasta.x.pfam-A.gff3"

In [44]:
annotations = GFF3Parser(filename=gff_file).read()

/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: FutureWarning: read_table is deprecated, use read_csv instead.
  dtype=dict(self.columns)):
/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: ParserWarning: Both a converter and dtype were specified for column attributes - only the converter will be used
  dtype=dict(self.columns)):
/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/base.py:79: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  return pd.concat(self, ignore_index=True)

In [45]:
names = annotations.sort_values(by=['seqid', 'score'], ascending=True).query('score < 1e-05').drop_duplicates(subset='seqid')[['seqid', 'Dbxref', 'Name', 'Note']]

In [46]:
new_file = names.dropna(axis=0,how='all')

In [47]:
new_file.head()

,seqid,Dbxref,Name,Note
45659,Transcript_10001,"""Pfam:PF00085.16""",Thioredoxin,Thioredoxin
45660,Transcript_10002,"""Pfam:PF07910.9""",Peptidase_C78,Peptidase family C78
45667,Transcript_10009,"""Pfam:PF13637.2""",Ank_4,Ankyrin repeats (many copies)
45683,Transcript_10011,"""Pfam:PF10250.5""",O-FucT,GDP-fucose protein O-fucosyltransferase
45684,Transcript_10012,"""Pfam:PF05724.7""",TPMT,Thiopurine S-methyltransferase (TPMT)

In [48]:
new_file.to_csv("pfam.csv")

## OrthoDB results

In [7]:
gff_file = "pc_euk_seqs.fasta.x.OrthoDB.best.gff3"

In [8]:
annotations = GFF3Parser(filename=gff_file).read()

/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: FutureWarning: read_table is deprecated, use read_csv instead.
  dtype=dict(self.columns)):
/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: ParserWarning: Both a converter and dtype were specified for column attributes - only the converter will be used
  dtype=dict(self.columns)):

In [9]:
names = annotations.sort_values(by=['seqid', 'score'], ascending=True).query('score < 1e-05').drop_duplicates(subset='seqid')[['seqid', 'Name']]

In [10]:
new_file = names.dropna(axis=0,how='all')

In [15]:
new_file.head()

              seqid                Name
0      Transcript_1            PPA10102
1    Transcript_100        G4UTF3_NEUT9
2   Transcript_1000  ENSFALP00000015835
3  Transcript_10000        G1X5W6_ARTOA
4  Transcript_10001        C1GUP1_PARBA

In [18]:
new_file.columns = ["seqid", "protein_id"]
new_file.head()

              seqid          protein_id
0      Transcript_1            PPA10102
1    Transcript_100        G4UTF3_NEUT9
2   Transcript_1000  ENSFALP00000015835
3  Transcript_10000        G1X5W6_ARTOA
4  Transcript_10001        C1GUP1_PARBA

In [13]:
ortho_names = pd.read_csv("./../ODB8_EukOGs_genes_ALL_levels.txt", sep='\t')

/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
ortho_names.head()

,odb8_level,odb8_og_id,protein_id,odb8_prot_id,organism,uniprot_description
0,4751:Fungi,EOG800004,H6BPB0_EXODN,858893:000f19,Exophiala dermatitidis NIH/UT8656,NaN
1,4751:Fungi,EOG80000C,G0W340_NAUDC,1071378:000955,Naumovozyma dairenensis CBS 421,NaN
2,4751:Fungi,EOG80000V,M3BSB9_SPHMS,692275:001da6,Sphaerulina musiva SO2202,NaN
3,4751:Fungi,EOG800010,E2LV46_MONPE,554373:002928,Moniliophthora perniciosa FA553,NaN
4,4751:Fungi,EOG80001M,E9DCK5_COCPS,443226:00127d,Coccidioides posadasii str. Silveira,Ornithine aminotransferase

In [28]:
ortho_w_names = pd.merge(new_file, ortho_names, on = "protein_id", how = "inner" )

In [34]:
ortho_w_names.head()

,seqid,protein_id,odb8_level,odb8_og_id,odb8_prot_id,organism,uniprot_description
0,Transcript_1,PPA10102,33208:Metazoa,EOG83FJ79,54126:00270f,Pristionchus pacificus,NaN
1,Transcript_11383,PPA10102,33208:Metazoa,EOG83FJ79,54126:00270f,Pristionchus pacificus,NaN
2,Transcript_30709,PPA10102,33208:Metazoa,EOG83FJ79,54126:00270f,Pristionchus pacificus,NaN
3,Transcript_100,G4UTF3_NEUT9,4751:Fungi,EOG8WWQ3V,510952:0016ff,Neurospora tetrasperma FGSC 2509,NaN
4,Transcript_100,G4UTF3_NEUT9,4890:Ascomycota,EOG8MPH73,510952:0016ff,Neurospora tetrasperma FGSC 2509,NaN

In [35]:
len(ortho_w_names)

93453

In [37]:
ortho_w_names.drop_duplicates(subset='seqid', keep='first',  inplace=True)
len(ortho_w_names)

21729

In [24]:
ortho_names = pd.read_csv("./../ODB8_EukOGs_genes_ALL_levels.txt", sep='\t')

21780

In [38]:
OG_names = pd.read_csv("./../odb9v1_OG2genes.tab", sep='\t')

In [39]:
OG_names.head()

   EOG09000000  106582:001e18
0  EOG09000000  303518:003f23
1  EOG09000000   32507:0040ef
2  EOG09000000    8153:00339b
3  EOG09000001  106582:004341
4  EOG09000001  303518:003afd

In [40]:
odb_genes = pd.read_csv("./../odb9v1_genes.tab", sep='\t')
odb_genes.head()

,1000565:000000,1000565,1000565:000000.1,F5R740,METUNv1_00006,\N,"Transposase of ISThsp18, IS1182 family"
0,1000565:000001,1000565,1000565:000001,F5R741,METUNv1_00011,\N,Transposase
1,1000565:000002,1000565,1000565:000002,F5R742,METUNv1_00018,\N,hypothetical protein
2,1000565:000003,1000565,1000565:000003,F5R743,METUNv1_00019,\N,Transposase
3,1000565:000004,1000565,1000565:000004,F5R744,METUNv1_00035,\N,PPIase
4,1000565:000005,1000565,1000565:000005,F5R745,METUNv1_00036,\N,Endopeptidase Clp

In [20]:
new_file.to_csv("orthoDB.csv")

In [22]:
names = annotations.sort_values(by=['seqid', 'score'], ascending=True).query('score < 1e-05').drop_duplicates(subset='seqid')#[['seqid', 'Name']]
new_file = names.dropna(axis=0,how='all')
new_file.head()

,seqid,source,type,start,end,score,strand,phase,ID,Name,Target,database
0,Transcript_1,LAST,translated_nucleotide_match,64,286,1.400000e-09,+,NaN,homology:58695,PPA10102,PPA10102 477 554 +,OrthoDB
1,Transcript_100,LAST,translated_nucleotide_match,46,238,3.800000e-11,-,NaN,homology:58696,G4UTF3_NEUT9,G4UTF3_NEUT9 256 317 +,OrthoDB
2,Transcript_1000,LAST,translated_nucleotide_match,936,1635,2.800000e-31,-,NaN,homology:58697,ENSFALP00000015835,ENSFALP00000015835 342 597 +,OrthoDB
3,Transcript_10000,LAST,translated_nucleotide_match,104,989,5.000000e-29,+,NaN,homology:58698,G1X5W6_ARTOA,G1X5W6_ARTOA 879 1166 +,OrthoDB
4,Transcript_10001,LAST,translated_nucleotide_match,207,456,3.300000e-16,-,NaN,homology:58699,C1GUP1_PARBA,C1GUP1_PARBA 8 91 +,OrthoDB

In [23]:
gff_file = "pc_euk_seqs.fasta.dammit.gff3"

In [24]:
names = annotations.sort_values(by=['seqid', 'score'], ascending=True).query('score < 1e-05').drop_duplicates(subset='seqid')#[['seqid', 'Name']]
new_file = names.dropna(axis=0,how='all')
new_file.head()

,seqid,source,type,start,end,score,strand,phase,ID,Name,Target,database
0,Transcript_1,LAST,translated_nucleotide_match,64,286,1.400000e-09,+,NaN,homology:58695,PPA10102,PPA10102 477 554 +,OrthoDB
1,Transcript_100,LAST,translated_nucleotide_match,46,238,3.800000e-11,-,NaN,homology:58696,G4UTF3_NEUT9,G4UTF3_NEUT9 256 317 +,OrthoDB
2,Transcript_1000,LAST,translated_nucleotide_match,936,1635,2.800000e-31,-,NaN,homology:58697,ENSFALP00000015835,ENSFALP00000015835 342 597 +,OrthoDB
3,Transcript_10000,LAST,translated_nucleotide_match,104,989,5.000000e-29,+,NaN,homology:58698,G1X5W6_ARTOA,G1X5W6_ARTOA 879 1166 +,OrthoDB
4,Transcript_10001,LAST,translated_nucleotide_match,207,456,3.300000e-16,-,NaN,homology:58699,C1GUP1_PARBA,C1GUP1_PARBA 8 91 +,OrthoDB

In [4]:
gff_file = "pc_euk_seqs.fasta.x.Emihu1_reduced_proteins.fasta.crbl.gff3"
annotations = GFF3Parser(filename=gff_file).read()
names = annotations.sort_values(by=['seqid', 'score'], ascending=True).query('score < 1e-05').drop_duplicates(subset='seqid')#[['seqid', 'Name']]
new_file = names.dropna(axis=0,how='all')
new_file.tail()

/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: FutureWarning: read_table is deprecated, use read_csv instead.
  dtype=dict(self.columns)):
/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: ParserWarning: Both a converter and dtype were specified for column attributes - only the converter will be used
  dtype=dict(self.columns)):

,seqid,source,type,start,end,score,strand,phase,ID,Name,Target,database
42395,Transcript_9979,shmlast.LAST,conditional_reciprocal_best_LAST,27,291,9.600000e-66,+,NaN,homology:42395,jgi|Emihu1|449249|estExtDG_Genemark1.C_140358,jgi|Emihu1|449249|estExtDG_Genemark1.C_140358 ...,Emihu1_reduced_proteins.fasta
39228,Transcript_9986,shmlast.LAST,conditional_reciprocal_best_LAST,1,77,1.500000e-31,+,NaN,homology:39228,jgi|Emihu1|457020|estExtDG_Genemark1.C_2130038,jgi|Emihu1|457020|estExtDG_Genemark1.C_2130038...,Emihu1_reduced_proteins.fasta
42396,Transcript_9987,shmlast.LAST,conditional_reciprocal_best_LAST,97,361,7.400000e-64,+,NaN,homology:42396,jgi|Emihu1|103643|fgeneshEH_pg.52__22,jgi|Emihu1|103643|fgeneshEH_pg.52__22 173 434 +,Emihu1_reduced_proteins.fasta
10023,Transcript_999,shmlast.LAST,conditional_reciprocal_best_LAST,494,542,1.800000e-19,+,NaN,homology:10023,jgi|Emihu1|314592|fgenesh_newKGs_pm.188__2,jgi|Emihu1|314592|fgenesh_newKGs_pm.188__2 166...,Emihu1_reduced_proteins.fasta
34200,Transcript_9993,shmlast.LAST,conditional_reciprocal_best_LAST,6,70,6.700000e-28,+,NaN,homology:34200,jgi|Emihu1|243566|gm1.39200006,jgi|Emihu1|243566|gm1.39200006 78 142 +,Emihu1_reduced_proteins.fasta

In [5]:
gff_file = "pc_euk_seqs.fasta.x.Emihu1_reduced_proteins.fasta.crbl.gff3"
annotations = GFF3Parser(filename=gff_file).read()
names = annotations.sort_values(by=['seqid', 'score'], ascending=True).query('score < 1e-05').drop_duplicates(subset='seqid')[['seqid', 'Name']]
new_file = names.dropna(axis=0,how='all')
new_file.tail()

/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: FutureWarning: read_table is deprecated, use read_csv instead.
  dtype=dict(self.columns)):
/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: ParserWarning: Both a converter and dtype were specified for column attributes - only the converter will be used
  dtype=dict(self.columns)):

                 seqid                                            Name
42395  Transcript_9979   jgi|Emihu1|449249|estExtDG_Genemark1.C_140358
39228  Transcript_9986  jgi|Emihu1|457020|estExtDG_Genemark1.C_2130038
42396  Transcript_9987           jgi|Emihu1|103643|fgeneshEH_pg.52__22
10023   Transcript_999      jgi|Emihu1|314592|fgenesh_newKGs_pm.188__2
34200  Transcript_9993                  jgi|Emihu1|243566|gm1.39200006

In [16]:

new_file['protein_id']=new_file.Name.str.split("|",expand=True,)[2]
new_file.head()

                  seqid                                   Name protein_id
3         Transcript_10           jgi|Emihu1|198495|gm1.800250     198495
25047   Transcript_1000  jgi|Emihu1|117245|fgeneshEH_pg.330__1     117245
6       Transcript_1001         jgi|Emihu1|244250|gm1.41400013     244250
3045   Transcript_10010   jgi|Emihu1|99708|fgeneshEH_pg.20__84      99708
8      Transcript_10012        jgi|Emihu1|254305|gm1.226300001     254305

In [17]:
new_file.to_csv("ehux_protein_annotations.csv", index = False)

In [5]:
gff_file = "pc_euk_seqs.fasta.x.chloroplast_division_proteins.fasta.crbl.gff3"
annotations = GFF3Parser(filename=gff_file).read()
names = annotations.sort_values(by=['seqid', 'score'], ascending=True).query('score < 1e-05').drop_duplicates(subset='seqid')[['seqid','score', 'Name']]
new_file = names.dropna(axis=0,how='all')
new_file

/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: FutureWarning: read_table is deprecated, use read_csv instead.
  dtype=dict(self.columns)):
/Users/brisbin/miniconda2/envs/py3.dammit/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: ParserWarning: Both a converter and dtype were specified for column attributes - only the converter will be used
  dtype=dict(self.columns)):

,seqid,score,Name
2,Transcript_11149,9.900000e-10,NP_045875.1 septum site-determining protein (c...
19,Transcript_16167,1.300000e-08,XP_001702420.1 plastid division protein [Chlam...
5,Transcript_18487,7.800000e-138,XP_001713182.1 cell division protein FtsZ [Gui...
8,Transcript_18490,1.200000e-09,lcl|AB673433.1_prot_BAM11091.1_1 [gene=ftsZ] [...
11,Transcript_18526,1.100000e-08,XP_001702420.1 plastid division protein [Chlam...
13,Transcript_18919,1.600000e-08,XP_001702420.1 plastid division protein [Chlam...
16,Transcript_20017,6.500000e-09,XP_001702420.1 plastid division protein [Chlam...
17,Transcript_24313,1.100000e-09,XP_001702420.1 plastid division protein [Chlam...
15,Transcript_26127,5.200000e-09,XP_001702420.1 plastid division protein [Chlam...
0,Transcript_26867,1.600000e-08,lcl|NC_010144.1_prot_XP_005538591.1_1 [locus_t...
3,Transcript_27723,9.200000e-132,XP_001713182.1 cell division protein FtsZ [Gui...
18,Transcript_27837,8.000000e-10,XP_001702420.1 plastid division protein [Chlam...
14,Transcript_29318,2.000000e-09,XP_001702420.1 plastid division protein [Chlam...
21,Transcript_29767,8.100000e-09,XP_001702662.1 dynamin-related GTPase [Chlamyd...
1,Transcript_31610,3.800000e-69,BAC55068.1 dynamin related protein involved in...
20,Transcript_32317,8.600000e-14,lcl|AB673434.1_prot_BAM11092.1_1 [gene=drp5B] ...
12,Transcript_3862,2.100000e-09,XP_001702420.1 plastid division protein [Chlam...
22,Transcript_4145,1.200000e-08,XP_001700508.1 plastid division protein FtsZ2 ...
9,Transcript_9042,1.100000e-11,lcl|AB673433.1_prot_BAM11091.1_1 [gene=ftsZ] [...
10,Transcript_971,3.500000e-09,XP_001702420.1 plastid division protein [Chlam...

In [19]:
namemap= pd.read_csv("pc_euk_seqs.fasta.dammit.namemap.csv")

In [21]:
#new = namemap['original'].str.split(" ", n = 1, expand = True) 
#new.head()
namemap['original'] = new[0]

In [22]:
namemap.head()

                   original       renamed
0  TRINITY_DN29218_c0_g1_i1  Transcript_0
1  TRINITY_DN29280_c0_g1_i1  Transcript_1
2  TRINITY_DN29255_c0_g1_i1  Transcript_2
3  TRINITY_DN29291_c0_g1_i1  Transcript_3
4  TRINITY_DN29211_c0_g1_i3  Transcript_4

In [23]:

namemap.columns = ["trinity", "seqid"]

chlordiv = pd.merge(namemap, new_file, on = "seqid", how = "inner" )

chlordiv.head()

,trinity,seqid,score,Name
0,TRINITY_DN5355_c1_g1_i1,Transcript_971,3.500000e-09,XP_001702420.1 plastid division protein [Chlam...
1,TRINITY_DN874_c0_g3_i1,Transcript_3862,2.100000e-09,XP_001702420.1 plastid division protein [Chlam...
2,TRINITY_DN4417_c0_g2_i1,Transcript_4145,1.200000e-08,XP_001700508.1 plastid division protein FtsZ2 ...
3,TRINITY_DN1241_c0_g2_i2,Transcript_9042,1.100000e-11,lcl|AB673433.1_prot_BAM11091.1_1 [gene=ftsZ] [...
4,TRINITY_DN8918_c0_g1_i4,Transcript_11149,9.900000e-10,NP_045875.1 septum site-determining protein (c...

In [24]:
chlordiv.to_csv("chlordiv_annotations.csv", index = False)